@model List<TotalRecall.Models.Application>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Public Key</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.PublicKey</td>
                <td>@item.Data.OrderByDescending(o=>o.InsertDate).Take(1).FirstOrDefault()?.InsertDate</td>
            </tr>
        }
    </tbody>
</table>