@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TotalRecall.Models.TRApplication
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PublicKey"></label>
        <input asp-for="PublicKey" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="UpdateKey"></label>
        <input asp-for="UpdateKey" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="AdminKey"></label>
        <input asp-for="AdminKey" class="form-control" />
    </div>

    <div class="checkbox">
        <label asp-for="Public">
            <input asp-for="Public" />
            Hide From Search
        </label>
    </div>
</div>