@model TRApplication

<div class="row">
    <div class="col-xs-12">
        <h1>@Model.Name</h1>
        <h3>@Model.Description</h3>
        <pre id="jsonString">Loading . . .</pre>
    </div>
</div>
@section Scripts{
    <script>
        var requestUrl = '@Url.Action("Json", new { PublicKey = Model.PublicKey })';
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: requestUrl,
                data: {limit:100}
            }).done(function (data) { 
                $('#jsonString').text(JSON.stringify(data,null,'  '));
            });
        });
    </script>
}